spring:
  config:
    activate:
      on-profile: prod
    import: optional:file:.env[.properties]

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
    defer-datasource-initialization: false

  data:
    mongodb:
      uri: ${MONGO_DB_URI}
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  elasticsearch:
    uris: ${ELASTICSEARCH_URIS}

logging:
  level:
    root: INFO
    com.example.burnchuck: WARN
    org.hibernate.SQL: OFF
    org.hibernate.orm.jdbc.bind: OFF
  file:
    name: ${LOGGING_ROOT}
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  metrics:
    export:
      cloudwatch:
        enabled: true
        namespace: burn-chuck
        step: 1m