spring:
  application:
    name: burn-chuck
  config:
    import: optional:file:.env[.properties]
  jpa:
    open-in-view: false
  jackson:
    serialization:
      write-dates-as-timestamps: false
  swagger-ui:
    tags-sorter: none
    operations-sorter: none
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
kakao:
  client-id: ${KAKAO_CLIENT_ID}
  redirect-uri: ${KAKAO_REDIRECT_URI}
cloud:
  aws:
    s3:
      bucket: ${BUCKET_NAME}
    stack.auto: false
    region:
      static: ${BUCKET_REGION}
    credentials:
      access-key: ${ACCESS_KEY}
      secret-key: ${SECRET_KEY}
    cloudfront:
      domain: ${CLOUDFRONT_DOMAIN}
jwt:
  secret:
    key: ${JWT_SECRET_KEY}
app:
  frontend:
    url: ${FRONTEND_URL}
cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}