spring:
  application:
    name: name=burn-chuck
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
    database-platform: org.hibernate.spatial.dialect.mysql.MySQL56InnoDBSpatialDialect
    open-in-view: false
  swagger-ui:
    tags-sorter: none
    operations-sorter: none
  data:
    mongodb:
      uri: ${MONGO_DB_URI}
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  elasticsearch:
    Uris: ${ELASTICSEARCH_URIS}
cloud:
  aws:
    s3:
      bucket: ${BUCKET_NAME}
    stack.auto: false
    region:
      static: ${BUCKET_REGION}
    credentials:
      access-key: ${ACCESS_KEY}
      secret-key: ${SECRET_KEY}
    cloudfront:
      domain: ${CLOUDFRONT_DOMAIN}

jwt:
  secret:
    key: ${JWT_SECRET_KEY}