spring:
  application:
    name: name=burn-chuck
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  swagger-ui:
    tags-sorter: none
    operations-sorter: none
  data:
    mongodb:
      uri: ${MONGO_DB_URI}
jwt:
  secret:
    key: ${JWT_SECRET_KEY}
